.appBarTitle {
  color: white;
  flex-grow: 1;
  font-weight: var(--font-weight-normal);
}

.appBarTitle__base {
  font-weight: var(--font-weight-bold);
}

/*react-router <Link /> override */
.appBarTitle a {
  color: white;
  text-decoration: none;
}

.appBarTitle__separator {
  position: relative;
  top: -0.15rem;
  margin: 0 0.6rem;
}

.appBarTitle__text {
  text-transform: capitalize;
}
